.main {
  width: 100%;
  left: 0px;
  top: 0px;
  margin-top: 7rem;
}

.input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
